# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite
*.gz
*.aux
*.out

# Documents